<div class="carta">
    <div class="contenido">
        <div class="imgcaja"><img src="../img/user.png"  draggable="false" onmousedown="event.preventDefault();">
        </div>
        <div class="contenidocaja">
            <h3>Nombre<br><span>Admin</span></h3>
            <div class="search">
                <div class="barra">
                    <input type="text" class="text-search" id="nikname" >
                    <button type="submit" class="btn-send icon" type="submit" style="border:1px inset #fff !important">send</button>
                </div>
            </div>
        </div>
    </div>
</div>
