<aside class="aside">
<div class="nav-home">
    <a href="/"><span class="name_system">Control de Asistencias</span></a>
    <div class="user">
        <img class="image_user" src="/img/user.png">
        <span class="name_user">Nombre Admin</span>
        <span class="logout_user">
            <a class="icon" href="#">expand_more</a>
            <ul>
                <li>
                    <a class="" style="border-bottom: 3px solid #6272a4;" href="/setting"><span
                            class="icon">settings</span>Configuraci贸n</a>
                </li>
                <li>
                    <a href=""><span class="icon">logout</span>Cerrar sesi贸n</a>
                </li>
            </ul>
        </span>
    </div>
    <ul>
        <li><a class="active" href="/"><span class="icon">dashboard</span>Inicio</a>
        </li>
        <li><a class="" href="/periods"><span class="icon">date_range</span>Periodo Escolar</a>
        </li>
        <li><a class="" href="/users"><span class="icon">manage_accounts</span>Usuarios</a>
        </li>
        <li><a class="" href="/administrative"><span
                    class="icon">supervised_user_circle</span>Administrativos</a>
        </li>
        <li><a class="" href="/teachers"><span class="icon">connect_without_contact</span>Docentes</a>
        </li>
        <li><a class="" href="/students"><span class="icon">recent_actors</span>Alumnos</a>
        </li>
        <li><a class="" href="/subjects"><span class="icon">library_books</span>Asignaturas</a>
        </li>
        <li><a class="" href=""><span class="icon">groups</span>Grupos</a>
        </li>
        <li><a class="" href=""><span class="icon">fact_check</span>Asistencias</a>
        </li>
    </ul>
</div>
<div class="menu-mobile">
    <header>
        <span class="activator icon" id="activator">menu</span>
        <nav>
            <ul>
                <li>
                    <a class="active-menu" href="/"><span class="icon">dashboard</span><span
                            class="text">Inicio</span></a>
                </li>
                <li>
                    <a class="/periods" href=""><span class="icon">date_range</span><span
                            class="text">Perido Escolar</span></a>
                </li>
                <li>
                    <a class="" href="/users"><span class="icon">manage_accounts</span><span
                            class="text">Usuarios</span></a>
                </li>
                <li>
                    <a class="" href="/administrative"><span
                            class="icon">supervised_user_circle</span><span
                            class="text">Administrativos</span></a>
                </li>
                <li>
                    <a class="" href="/teachers"><span class="icon">connect_without_contact</span><span
                            class="text">Docentes</span></a>
                </li>
                <li>
                    <a class="" href="/students"><span class="icon">recent_actors</span><span
                            class="text">Alumnos</span></a>
                </li>
                <li>
                    <a class="" href="/subjects"><span class="icon">library_books</span><span
                            class="text">Asignaturas</span></a>
                </li>
                <li>
                    <a class="" href="#"><span class="icon">groups</span><span class="text">Grupos</span></a>
                </li>
                <li>
                    <a class="" href="#"><span class="icon">fact_check</span><span
                            class="text">Asistencias</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <a href="/"><span class="name_system">Control de Asistencias</span></a>
</div>
<div class="user-mobile">
    <header>
        <img class="activator-user" id="activator-user" src="./img/user.png">
        <nav>
            <ul>
                <li class="first-item">
                    <a href="/setting"><span class="icon">settings</span><span
                            class="text">Configuraci贸n</span></a>
                </li>
                <li>
                    <a href=""><span class="icon">logout</span><span class="text">Cerrar
                            sesi贸n</span></a>
                </li>
            </ul>
        </nav>
    </header>
</div>
</aside>