<tbody>
    <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th class="center"><a class="icon">visibility</a></th>
        <th class="center"><a class="icon">edit</a></th>
        <th class="center"><a class="icon">delete</a></th>
    </tr>
    <tr>
        <td>admin</td>
        <td>Diego Carmona Bernal</td>
        <td>9614044227</td>
        <td>
            <button class="btnview" type="submit"></button>
        </td>
        <td>
            <button class="btnedit" type="submit"></button>
        </td>
        <td>
            <button class="btndelete" type="submit"></button>
        </td>
    </tr>
    <tr>
        <td>admineb405</td>
        <td>Magnolia Montejo Gómez</td>
        <td>9613459810</td>
        <td>
            <button class="btnview" type="submit"></button>
        </td>
        <td>
            <button class="btnedit" type="submit"></button>
        </td>
        <td>
            <button class="btndelete" type="submit"></button>
        </td>
    </tr>
    <tr>
        <td>adminec4e9</td>
        <td>Rosalinda Pascacio Mendoza</td>
        <td>9654392021</td>
        <td>
            <button class="btnview" type="submit"></button>
        </td>
        <td>
            <button class="btnedit" type="submit"></button>
        </td>
        <td>
            <button class="btndelete" type="submit"></button>
        </td>
    </tr>
    <tr>
        <td>editor</td>
        <td>Jesús Antonio Olvera Gálvez</td>
        <td>9614044227</td>
        <td>
            <button class="btnview" type="submit"></button>
        </td>
        <td>
            <button class="btnedit" type="submit"></button>
        </td>
        <td>
            <button class="btndelete" type="submit"></button>
        </td>
    </tr>
</tbody>