<table class="users">
    <tbody>
        <tr>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Permisos</th>
            <th class="center"><a class="icon">edit</a></th>
        </tr>
        <tr>
            <td>admin</td>
            <td class="tdbreak">carmonabernaldiego@gmail.com</td>
            <td>admin</td>
            <td>
                <div>
                    <button class="btnedit" onclick="location.href='/editUsers'" type="submit"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>admineb405</td>
            <td class="tdbreak">magnoliamontejogomez@gmail.com</td>
            <td>editor</td>
            <td>
                <div>
                    <button class="btnedit"  type="submit"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>adminec4e9</td>
            <td class="tdbreak">rosalindamendoza@gmail.com</td>
            <td>admin</td>
            <td>
                <div>
                    <button class="btnedit" type="submit"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>editor</td>
            <td class="tdbreak">editor@gmail.com</td>
            <td>editor</td>
            <td>
                <div>
                    <button class="btnedit" type="submit"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>tchr-0daed</td>
            <td class="tdbreak"></td>
            <td>teacher</td>
            <td>
                <div>
                    <button class="btnedit" type="submit"></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>