
/*-------------------------------------------
  Contenedor Formularios
-------------------------------------------*/

.content {
    display: block;
    float: right;
    margin: 0 3%;
    width: 72%;
}

.content-aside {
    display: block;
    float: right;
    width: 27%;
}

.content:after,
.content-aside:after {
    display: block;
    content: "";
    clear: both;
}

@media only screen and (max-width: 1186px) {
    .content {
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
}
 }
@media only screen and (max-width: 990px) {
    .content {
        float: none;
        width: 94%;
        display: flex;
        flex-flow: column-reverse;
    }
}
    /*-------------------------------------------
Formulario | Configuration User
-------------------------------------------*/

.form-config-user {
    float: none;
    width: 100%;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
}

.form-config-user:after {
    display: block;
    content: "";
    clear: both;
}

.form-config-user .body .wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}

.form-config-user .body .first,
.form-config-user .body .last {
    width: 45%;
}

.form-config-user .body .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

.form-config-user .body .last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-users .body .section-user-image,
.form-config-user .body .section-user-image {
    width: 100%;
}

.form-users .body .section-user-image img,
.form-config-user .body .section-user-image img {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background-color: #eef4ff;
    border: solid #eef4ff 4px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 6px rgba(142, 136, 192, 0.2);
}

.form-users .body .section-user-image .file,
.form-config-user .body .section-user-image .file {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    margin-top: -32px;
    padding: 0;
    background: var(--backgroundBtnShearch);
    box-shadow: 0 0 6px rgba(142, 136, 192, 0.2);
    border-radius: 100%;
    color: #eef4ff;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 100;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-users .body .section-user-image .file.disabled,
.form-config-user .body .section-user-image .file.disabled {
    background: #6a7186;
    color: #eef4ff98;
    cursor: default;
}

.form-users .body .section-user-image .file:hover,
.form-config-user .body .section-user-image .file:hover,
.form-users .body .section-user-image .file:focus,
.form-config-user .body .section-user-image .file:focus {
    outline: none;
    outline-width: 0;
    background: var(--colorhr);
    box-shadow: 0 0 0 2.5pt var(--backgroundFocusInput) !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-users .body .section-user-image .file.disabled:hover,
.form-config-user .body .section-user-image .file.disabled:hover,
.form-users .body .section-user-image .file.disabled:focus,
.form-config-user .body .section-user-image .file.disabled:focus {
    background: #6a7186;
    color: #eef4ff98;
    cursor: default;
}

.form-users .body .section-user-image .file.disabled:hover,
.form-config-user .body .section-user-image .file.disabled:hover,
.form-users .body .section-user-image .file.disabled:focus,
.form-config-user .body .section-user-image .file.disabled:focus {
    box-shadow: none !important;
}

.form-users .body .section-user-image .file:active,
.form-config-user .body .section-user-image .file:active {
    background: #6272a4;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image,
.form-config-user .body .section-croppie-image {
    width: 100%;
    padding: 33px 0 0;
}

.form-users .body .section-croppie-image .options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0 0px;
}

.form-config-user .body .section-croppie-image .options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0 32.5px;
}

.form-users .body .section-croppie-image .options .crop-btn,
.form-config-user .body .section-croppie-image .options .crop-btn,
.form-users .body .section-croppie-image .options .change-btn,
.form-config-user .body .section-croppie-image .options .change-btn,
.form-users .body .section-croppie-image .options .cancel-btn,
.form-config-user .body .section-croppie-image .options .cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin: 0 25px;
    background: #6272a4;
    box-shadow: 0 0 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 100%;
    color: #eef4ff;
    text-decoration: none;
    outline: none;
    line-height: 2.55em;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;
    z-index: 999;
    transition: all 300ms ease-out;
}

.form-users .body .section-croppie-image .options .change-btn,
.form-config-user .body .section-croppie-image .options .change-btn {
    background: #3f6992;
    box-shadow: 0 1px 6px rgba(63, 105, 146, 0.2);
}

.form-users .body .section-croppie-image .options .cancel-btn,
.form-config-user .body .section-croppie-image .options .cancel-btn {
    background: #db4949;
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
}

.form-users .body .section-croppie-image .options .crop-btn:hover,
.form-config-user .body .section-croppie-image .options .crop-btn:hover,
.form-users .body .section-croppie-image .options .crop-btn:focus,
.form-config-user .body .section-croppie-image .options .crop-btn:focus {
    background: #4a567c;
    box-shadow: 0 0 0 2.5pt #929cb9 !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image .options .change-btn:hover,
.form-config-user .body .section-croppie-image .options .change-btn:hover,
.form-users .body .section-croppie-image .options .change-btn:focus,
.form-config-user .body .section-croppie-image .options .change-btn:focus {
    background: #2a4866;
    box-shadow: 0 0 0 2.5pt #7eb2e2 !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image .options .cancel-btn:hover,
.form-config-user .body .section-croppie-image .options .cancel-btn:hover,
.form-users .body .section-croppie-image .options .cancel-btn:focus,
.form-config-user .body .section-croppie-image .options .cancel-btn:focus {
    background: #aa3535;
    box-shadow: 0 0 0 2.5pt #e77f7f !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image .options .crop-btn:active,
.form-config-user .body .section-croppie-image .options .crop-btn:active {
    background: #6272a4;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image .options .change-btn:active,
.form-config-user .body .section-croppie-image .options .change-btn:active {
    background: #3f6992;
    transition: all 200ms ease-in;
}

.form-users .body .section-croppie-image .options .cancel-btn:active,
.form-config-user .body .section-croppie-image .options .cancel-btn:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-users .body .section-user-info {
    display: block;
    width: 100%;
    margin: 13px 0 10px;
}

.form-config-user .body .section-user-info span.user-name,
.form-config-user .body .section-user-info span.user-id {
    display: block;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

.form-config-user .body .section-user-info span.user-name {
    margin-top: 8px;
}

.form-config-user .body .section-user-info span.user-id {
    text-transform: uppercase;
    font-size: 0.8em;
}

.form-config-user .body .config-data-user {
    width: 100%;
}

.form-config-user .body .config-data-user .text {
    width: 80%;
    margin: 0;
    padding: 0 8% 0 3%;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
}

.form-config-user .body .config-data-user .btn-edit-email {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22%;
    height: 36px;
    margin-top: -36px;
    background: var(--backgroundBtnShearch);
    box-shadow: none;
    border: none;
    border-color: var(--colorhr);
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #eef4ff;
    font-size: 0.95em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-config-user .body .config-data-user .btn-edit-email.disabled {
    background: #6a7186;
    color: #eef4ff98;
    cursor: default;
}

.form-config-user .body .config-data-user .btn-edit-email:hover,
.form-config-user .body .config-data-user .btn-edit-email:focus {
    outline: none;
    outline-width: 0;
    background: var(--colorhr);
    box-shadow: inset 0 0 0 4px var(--backgroundFocusInput);
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-config-user .body .config-data-user .btn-edit-email.disabled:hover,
.form-config-user .body .config-data-user .btn-edit-email.disabled:focus {
    background: #6a7186;
    box-shadow: none !important;
}

.form-config-user .body .config-data-user .btn-edit-email:active {
    background: #6272a4;
    transition: all 200ms ease-in;
}

.form-config-user .body .config-data-user .btn-edit-info-user,
.form-config-user .body .config-data-user .btn-change-pass {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 36px;
    padding-left: 10.6%;
    background: var(--backgroundBtnShearch);
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 0.4em;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgb(142 136 192 / 20%);
    font-size: 0.95em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-config-user .body .config-data-user .btn-edit-info-user {
    margin: 10% 0;
}

.form-config-user .body .config-data-user .btn-edit-info-user span.icon {
    display: block;
    position: absolute;
    left: 2.7%;
    font-size: 1.6em;
}

.form-config-user .body .config-data-user .btn-change-pass span.icon {
    display: block;
    position: absolute;
    left: 2.7%;
    font-size: 1.2em;
}

.form-config-user .body .config-data-user .btn-edit-info-user:hover,
.form-config-user .body .config-data-user .btn-edit-info-user:focus,
.form-config-user .body .config-data-user .btn-change-pass:hover,
.form-config-user .body .config-data-user .btn-change-pass:focus {
    outline: none;
    outline-width: 0;
    background: var(--colorhr);
    border: none;
    box-shadow: 0 0 0 2.5pt var(--backgroundFocusInput) !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-config-user .body .config-data-user .btn-edit-info-user:active,
.form-config-user .body .config-data-user .btn-change-pass:active {
    background: #6272a4;
    transition: all 200ms ease-in;
}

.form-config-user .body .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 3%;
}

.form-config-user .body .footer span.user-permissions {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    padding: 5px 15px 4px;
    border: 2px solid #eef4ff;
    border-radius: 0.4em;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

input[type="range"]:focus,
input[type="range"]:hover,
input[type="range"]:active {
    background: transparent !important;
}
.form-users .body .section-user-info span.user-id, .form-users .body .section-user-info span.user-name {
    display: block;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}
@media only screen and (max-width: 701px) {
    .form-data{
        width: 100%;
    }
    .form-config-user .body .section-croppie-image, .form-data .body .section-croppie-image{
        padding: 24px 0 0;
    }
    .form-config-user .body .first{
        padding: 24px 0 2%;
    }
    .form-config-user .body .first, .form-config-user .body .last{
        width: 87.5%;
    }
    .form-data .body .first, .form-data .body .last, .form-data .body .description{
        width: 88%;
    }
    .form-config-user .body .footer{
        padding: 24px 0 24px;
    }
}
@media (max-width: 990px){
    .form-users{
        width: 100% !important;
    }
}

@media (max-width: 278px){
    .content{
        width: 300px !important;
    }
}