
    <div class="floating-chat enter expand form-gridview" id="divchat">
        <div class="chat enter">
            <div class="header">
                <span class="title">
                Chat Grupal
                </span>
                <button>
                    <a href="/" style="text-decoration: none;" class="btn btn-exit icon">close</a>
                </button>
            </div>
            <ul class="messages" id="messages">
            </ul>
            <form id="message-form" class="footer" >
                <textarea class="text-box"  id="message"  style="resize: none;" wrap="hard"></textarea>
                <button type="submit" id="sendMessage" class="btn btn-send icon" style="background: #0ec879;">send</button>
            </form>
        </div>
    </div>

    <script src="/js/awesomplete.js"></script>



