<div class="form-data form-config-user">
    <div class="body">
    <form>
        <div class="wrap">
            <div class="first">
                <div class="section-user-image">
                    <img src="./img/user.png">
                    <a href="#" class="file"><span class="icon">add_a_photo</span></a>
                    <input id="fileuploadimage" style="display: none;" type="file" name="fileuploadimage" accept=".jpg, .jpeg, .png">
                                            <div class="section-user-info">
                        <span class="user-name">Nombre Admin</span>
                        <span class="user-id">admin</span>
                    </div>
                </div>
            </div>
            <div class="last">
                <div class="config-data-user">
                    <p>
                        <input disabled="" class="text" type="email" name="txtemailupdate" value="carmonabernaldiego@gmail.com" maxlength="200" placeholder="Correo electrónico" autocomplete="off" required="">
                        <button class="btn-edit-email icon">edit</button>
                    </p>
                    <a class="btn-edit-info-user" href="#"><span class="icon">edit_note</span>Información Personal</a>
                    <a class="btn-change-pass" href="#"><span class="icon">lock_open</span>Cambiar Contraseña</a>
                </div>
            </div>
            <div class="footer">
                <span class="user-permissions">Adminisrador </span>
            </div>
        </div>
    </form>
</div>
</div>