<tbody id="data">
        <tr>
                <th>Periodo Escolar</th>
                <th>Nombre</th>
                <th class="center">Activo</th>
                <th class="center">Actual</th>
                <th class="center"><a class="icon">edit</a></th>
                <th class="center"><a class="icon">delete</a></th>
        </tr>
        <tr>
                <td>2022-2</td>
                <td class="tdbreak">Abril - Julio 2022</td>
                <td class="center">Si</td>
                <td class="center">No</td>
                <td>
                        <button class="btnedit" onclick="location.href='/edit_Periods'"></button>
                </td>
                <td>
                        <button class="btndelete" onclick="location.href='/del_Periods'"></button>
                </td>
        </tr>
        <tr>
                <td>2022-1</td>
                <td class="tdbreak">Enero - Abril 2022</td>
                <td class="center">Si</td>
                <td class="center">Si</td>
                <td>
                        <button class="btnedit" type="submit"></button>
                </td>
                <td>
                        <button class="btndelete" type="submit"></button>
                </td>
        </tr>
        <tr>
                <td>2021-3</td>
                <td class="tdbreak">Septiembre - Diciembre 2021</td>
                <td class="center">Si</td>
                <td class="center">No</td>
                <td>
                        <button class="btnedit" type="submit"></button>
                </td>
                <td>
                        <button class="btndelete" type="submit"></button>
                </td>
        </tr>
        <tr>
                <td>2021-2</td>
                <td class="tdbreak">Abril - Julio 2021</td>
                <td class="center">Si</td>
                <td class="center">No</td>
                <td>
                        <button class="btnedit" type="submit"></button>
                </td>
                <td>
                        <button class="btndelete" type="submit"></button>
                </td>
        </tr>
        <tr>
                <td>2021-1</td>
                <td class="tdbreak">Enero - Abril 2021</td>
                <td class="center">Si</td>
                <td class="center">No</td>
                <td>
                        <button class="btnedit" type="submit"></button>
                </td>
                <td>
                        <button class="btndelete" type="submit"></button>
                </td>
        </tr>
</tbody>