

.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 250ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background: -moz-linear-gradient(-45deg, #183850a6 0, #1838500d 25%, #192c462e 50%, #22254c6e 75%, #22254ce0 100%);
    background: var(--backgroundChat);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.6;
}
.floating-chat.expand {
    width: 71%;
    border:1px solid rgb(73 80 104 / 40%);
    /* max-height: 400px; */
    height: 650px;
    border-radius: 10px;
    cursor: auto;
    opacity: 1;
}
.floating-chat :focus {
    outline: 0 !important;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3) !important;
}
.floating-chat button {
    background: transparent;
    border: 0;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}
.floating-chat .chat .header {
    display: flex;
    margin:0;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}
.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}
.floating-chat .chat .header button {
    flex-shrink: 0;
}
.floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}
.floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}
.floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 14px;
    margin: 0 0 20px 0;
    font: 12px/16px 'Noto Sans', sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 147, 147, 0.2);
    word-wrap: break-word;
    max-width: 81%;
}
.floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background-size: cover;
}
.floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid rgba(25, 147, 147, 0.2);
}
.floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    /* margin-right: 45px; */
    margin-right: 30px;
    color: #0ad5c1;
}
/* .floating-chat .chat .messages li.other:before {
    right: -45px;
    background-image: url(https://github.com/Thatkookooguy.png);
} */
.floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
}
.floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    /* margin-left: 45px; */
    margin-left: 30px;
    color: #0ec879;
}
.contMessageSelf{
    display: flex;
}
.contMessageOther{
    display: flex;
    justify-content: flex-end;
}
.imgUserOther {
    right: 0;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    /* top: 0; */
    background-size:cover;
}
.imgUser {
    background-size:cover;
    left: 10px;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    /* top: 0; */
}
/* .floating-chat .chat .messages li.self:before {
    left: -45px;
    background-image: url(https://github.com/ortichon.png);
} */
.floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
}
.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}
.floating-chat .chat .footer .text-box {
    border: 0px;
    border-radius: 3px;
    background: rgba(25, 147, 147, 0.2) !important;
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #0ec879 !important;
    overflow-y: auto;
    padding: 5px 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}
@keyframes show-chat-even {
    0% {
        margin-left: -480px;
   }
    100% {
        margin-left: 0;
   }
}
@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
   }
    100% {
        margin-left: 0;
   }
}
@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
   }
    100% {
        margin-left: 0;
   }
}
@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
   }
    100% {
        margin-right: 0;
   }
}
@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
   }
    100% {
        margin-right: 0;
   }
}
@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
   }
    100% {
        margin-right: 0;
   }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    width: 30px;
    height: 30px;
    color: #eef4ff;
    font-size: 1em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
}
.btn-exit {
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    background: #db4949;
    border-color: #e77f7f;
    transition: all 300ms ease-out;
}


#divchat{
    display: none;
}

.error{
    color:#db4949;
}

.whisper{
    color: gray !important;
    font-style: italic !important;
}
.loadMessage{
    color: black;
}

.error-user {
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: auto;
    background: #cf2948e8;
    padding: 10px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-user h2 {
    color: #ffffff;
    font-style:italic;
}
 .search .text-search {
    float: left;
    width: 57%;
    height: 36px;
    margin: 0 0 0 7.9%;
    padding: 0 23.5% 0 3.5%;
    background: #eef4ff;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.55em;
    border-bottom-right-radius: 0.55em;
    color: #687292;
    font-weight: 500;
    font-size: 0.9em;
    transition: all 300ms ease-out;
    outline: none !important;
    outline-width: 0 !important;
    transition: all 300ms ease-out;
}
 .search .text-search:focus {
    box-shadow: 0 0 0 2.5pt var(--backgroundFocusInput) !important;
    color: #4a567c !important;
    transition: all 200ms ease-in;
}
 .search .btn-send {
    float: left;
    width: 20%;
    height: 36px;
    margin: 0 6.5% 0 -20%;
    background: var(--bacgroundContent);
    border: none;
    color: #eef4ff;
    cursor: initial;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.02em;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.search .barra {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#username {
    width: 100%;
    padding: 10px 0px;
    overflow-x: auto;
}
div#username p {
    width: 100%;
    position: relative;
    color: #0ec879;
    margin: 15px 10px;
    border-bottom: 1px solid #282a3680;
}

.div {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
}

.sss .icon-copy{
    font-size: 18px;
}
.search {
    width: 440px;
    position: relative;
}
@media only screen and (max-width: 1186px){
.content {
    flex-direction: column-reverse !important;
    display: flex;
    align-items: center;

}
.content-chat{
    flex-direction: column !important;
    overflow-x: hidden;
}
.content-aside.cont-user{
margin-top: 0px !important;
margin-bottom:20px !important;
bottom: 0px !important;
}


.div {
    margin-left: 16px;
    width: auto;
}
div#username {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    overflow-x: auto;
}
div#username p {
    width: auto;
    margin: 0px 4px;
}
.option-user{
    padding: 20px 20px !important;
}
.cont-user{
    width: 100%;
}
.option-user h1 {
    padding-bottom: 20px;
}
.copied-text {
    display: none;
    position: fixed;
    top: 151px !important;
    left: 55% !important;

}
}

.copied-text {
    display: none;
    position: fixed;
    top: 130px;
    left: 87%;
    padding: 5px 10px;
    background: #569188;
    color: #fff;
    border-radius: 5px;
    animation: copied-text-animation 0.5s;
}
.copied-text.show{
    display: block;
}
@keyframes copied-text-animation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width:990px){
    .copied-text{
        top:200px;
        left:43%;
    }
    .option-user{
        margin-top:40px;
    }
}

.btn-send input[type="file"] {
    visibility: hidden;
}

/* ANIMACION */
.content-animation-chat{
    width: 100%;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-animation-chat .cont-TitleChat h1{
    color: var(--colorTitle);
}

#circulo {	
	animation: circulo 2s linear;
	animation-fill-mode: forwards;
}

#celular {
	opacity: 0;
	animation: celular 1s 2s cubic-bezier(0,1.09,.79,1.54);
	animation-fill-mode: forwards;
}

#chat-boy {
	opacity: 0;
	animation: chat-boy 3s 3s ease-in-out infinite;
	animation-fill-mode: forwards;
}

#chat-girl {
	opacity: 0;
	animation: chat-girl 3s 4.8s ease-in-out infinite;
	animation-fill-mode: forwards;
}

@keyframes circulo {
	0% {opacity: 0;}
	100% {opacity: 100%;}
}

@keyframes celular {
	0% {transform: translateX(30px);}
	100% {opacity: 1; transform: translateX(0);}
}

@keyframes chat-boy {
	0% {transform: translateY(50px);}
	30% {opacity: 1; transform: translateY(0);}
	50% {opacity: 1; transform: translateY(0);}
	75% {opacity: 1; transform: translateY(-150px);}
	90% {opacity: 1; transform: translateY(-150px);}
	100% {opacity: 0; transform: translateY(-300px);}
}

@keyframes chat-girl {
	0% {transform: translateY(50px);}
	30% {opacity: 1; transform: translateY(0);}
	40% {opacity: 1; transform: translateY(0);}
	50% {opacity: 1; transform: translateY(-150px);}
	90% {opacity: 1; transform: translateY(-150px);}
	100% {opacity: 0; transform: translateY(-300px);}
}

/* Colores */
.st0{fill:var(--scrollPrincipal);}
	.st1{fill:#44475a;}
	.st2{fill:#44475a;}
	.st3{fill:#6680BC;}
	.st4{fill:#22254cfa;}
	.st5{fill:#22254cfa;}
	.st6{fill:rgba(25, 147, 147, 0.2);}
	.st7{fill:#0ad5c1;}
	.st8{clip-path:url(#XMLID_4_);}
	.st9{fill:#734A3E;}
	.st10{clip-path:url(#SVGID_2_);fill:#623F33;}
	.st11{clip-path:url(#SVGID_2_);fill:#F6B47B;}
	.st12{fill:#FF4F4F;}
	.st13{fill:#623F33;}
	.st14{fill:#E2A071;}
	.st15{fill:#FDC88E;}
	.st16{clip-path:url(#SVGID_4_);fill:#F23F44;}
	.st17{clip-path:url(#SVGID_4_);fill:#D6343A;}
	.st18{fill:#F23F44;}
	.st19{fill:#F6B47B;}
	.st20{fill:rgba(25, 147, 147, 0.2);}
	.st21{fill:#0ec879;}
	.st22{clip-path:url(#XMLID_5_);}
	.st23{clip-path:url(#SVGID_6_);fill:#E69F5F;}
	.st24{fill:#E09156;}
	.st25{fill:#FFD7A3;}
	.st26{fill:#FFE1B2;}
	.st27{fill:#E4B07B;}
	.st28{fill:#FF6473;}
	.st29{fill:#F05467;}
	.st30{fill:#D4445A;}
	.st31{fill:#E69F5F;}
    @media (max-width: 501px) {
        #svgChat{
            margin-left:30px;
            width: 400px !important;
            height: 500px !important;
        }
    }

    
.section-card{
	position: relative;
}



 .carta{

	position: relative;
	width: 300px;
	height: 400px;
	background: var(--bacgroundContent);
	margin: 4px;
	box-shadow: 0 2px 2px rgb(73 80 104 / 40%);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.carta .contenido{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.carta .contenido .imgcaja {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0, 0, 0, 0.25);
}

 .carta .contenido .imgcaja img {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

 .carta .contenido .contenidocaja h3{

	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

 .carta .contenido .contenidocaja h3 span{

	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.bloock{
    display:block !important;
    width: 100%;
}