/*-------------------------------------------
  Contenedor Formularios
-------------------------------------------*/

.content {
    display: block;
    float: right;
    margin: 0 3%;
    width: 72%;
}

.content-aside {
    display: block;
    float: right;
    width: 27%;
}

.content:after,
.content-aside:after {
    display: block;
    content: "";
    clear: both;
}
@media only screen and (max-width: 990px) {
    .content {
        float: none;
        width: 94%;
        display: flex;
        flex-flow: column-reverse;
    }
    .content-aside{
        width:100% !important;
    }
    .form-gridview{
        overflow-x: auto;
        width: 100% !important;
    }
}

@media only screen and (max-width: 1186px) {
    .content {
    flex-direction: column !important;
    display: flex;
    align-items: center;
    flex-flow: column-reverse;
}
.content-aside{
    margin-bottom:20px;
}
.content-aside{
    width:60%;
}
}


@media(max-width:278px){
    .content{
        width: 300px !important;
    }
}

/*-------------------------------------------
  Formulario | Herramientas
-------------------------------------------*/

.form-options {
    width: 100%;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
    user-select: none;
}

.form-options .options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColorHr);
    padding: 5% 10%;
}

.form-options .options .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    width: 40px;
    height: 40px;
    color: #eef4ff;
    font-size: 1em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
}

.form-options .options .btn.btn-disabled,
.form-options .search .btn-search.btn-disabled {
    background: var(--backgroundBtnDisabled);
    color: #eef4ff98;
    cursor: initial;
    pointer-events: none;
}

.form-options .options .btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 6px rgba(91, 133, 127, 0.2);
    background: #569188;
    border-color: #6daaa3;
    transition: all 300ms ease-out;
}

.form-options .options .btn-add:hover,
.form-options .options .btn-add:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .btn-add:active {
    background: #569188;
    transition: all 200ms ease-in;
}

.form-options .options .btn-exit {
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    background: #db4949;
    border-color: #e77f7f;
    transition: all 300ms ease-out;
}

.form-options .options .btn-exit:hover,
.form-options .options .btn-exit:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .btn-exit:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-options .options .btn-search-mobile {
    display: none;
    box-shadow: 0 1px 6px rgba(73, 100, 219, 0.2);
    background: #6272a4;
    border-color: #929cb9;
    transition: all 300ms ease-out;
}

.form-options .options .btn-search-mobile:hover,
.form-options .options .btn-search-mobile:focus {
    background: #4a567c;
    border: 4px solid #929cb9;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .options .btn-search-mobile:active {
    background: #6272a4;
    transition: all 200ms ease-in;
}

.form-options .search {
    padding: 20px 0;
}

.form-options .search .barra{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-options .search:after {
    display: block;
    content: "";
    clear: both;
}

.form-options .search .text-search {
    float: left;
    width: 57%;
    height: 36px;
    margin: 0 0 0 7.9%;
    padding: 0 23.5% 0 3.5%;
    background: #eef4ff;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-top-right-radius: 0.55em;
    border-bottom-right-radius: 0.55em;
    color: #687292;
    font-weight: 500;
    font-size: 0.9em;
    transition: all 300ms ease-out;
    outline: none !important;
    outline-width: 0 !important;
    transition: all 300ms ease-out;
}

.form-options .search .text-search:focus {
    box-shadow: 0 0 0 2.5pt var(--backgroundBtnFocusShearch) !important;
    color: #4a567c !important;
    transition: all 200ms ease-in;
}

.form-options .search .btn-search {
    float: left;
    width: 20%;
    height: 36px;
    margin: 0 6.5% 0 -20%;
    background: var(--backgroundBtnShearch);
    border: none;
    color: #eef4ff;
    cursor: initial;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.02em;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-options .search .btn-search:hover,
.form-options .search .btn-search:focus {
    background: var(--colorhr);
    box-shadow: inset 0 0 0 2.5pt var(--backgroundFocusInput) !important;
    color: #eef4ff98;
    transition: all 200ms ease-in;
}

.form-options .search .btn-search:hover:active {
    background: var(--backgroundBtnShearch);
    transition: all 200ms ease-in;
}
/*-------------------------------------------
  Formulario | GridView
-------------------------------------------*/

.form-gridview {
    float: left;
    margin: 0 0 35px 0;
    width: 71%;
    background: var(--bacgroundContent);
    box-shadow: 0 2px 2px rgba(73, 80, 104, 0.4);
    border-radius: 0.4em;
}

.form-gridview img.data-not-found,
.form-data img.data-not-found {
    overflow-x: hidden;
    display: block;
    width: 80%;
    margin: 2% auto 5%;
    pointer-events: none;
    user-select: none;
}

.form-gridview table.default,
.form-gridview table.users {
    width: 91%;
    margin: 4.5% auto 0;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border-collapse: collapse;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    overflow: hidden;
}

.form-gridview th {
    padding: 7px 15px;
    background: #282a36;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border: none;
    text-align: left;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: normal;
}

.form-gridview th.center {
    text-align: center;
}

.form-gridview th a.icon {
    color: #eef4ff;
    font-size: 1.2em;
    text-decoration: none;
}

.form-gridview td {
    padding: 8px 15px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border-bottom: solid #6273a495 1px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}

.form-gridview td.tdbreak {
    word-break: break-all;
}

.form-gridview td.tdbreakw {
    word-break: break-word;
}

.form-gridview td.center {
    text-align: center;
}

.form-gridview td button.btnview {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #569188;
    box-shadow: 0 1px 6px rgba(91, 133, 127, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnview:hover,
.form-gridview td button.btnview:focus {
    background: #456661;
    border: 4px solid #6daaa3;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnview:active {
    background: #569188;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #3f6992;
    box-shadow: 0 1px 6px rgba(63, 105, 146, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btnedit:hover,
.form-gridview td button.btnedit:focus {
    background: #2a4866;
    border: 4px solid #7eb2e2;
    transition: all 200ms ease-in;
}

.form-gridview td button.btnedit:active {
    background: #3f6992;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete {
    margin: 0 auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #db4949;
    box-shadow: 0 1px 6px rgba(219, 73, 73, 0.2);
    border: none;
    border-radius: 2em;
    color: #eef4ff;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.form-gridview td button.btndelete:hover,
.form-gridview td button.btndelete:focus {
    background: #aa3535;
    border: 4px solid #e77f7f;
    transition: all 200ms ease-in;
}

.form-gridview td button.btndelete:active {
    background: #db4949;
    transition: all 200ms ease-in;
}

.form-gridview tr:hover td {
    background: #dde8fc;
    transition: all 200ms ease-in;
}


.pages {
    display: block;
    text-align: center;
    margin: 2.8% 0 2.8% 3.8%;
    user-select: none;
}

.pages:after {
    display: block;
    content: "";
    clear: both;
}

.pages ul li {
    list-style: none;
}

.pages ul li button {
    margin: 0 10px 0 0;
    width: 5%;
    height: 22px;
    background: #7e8aac;
    box-shadow: 0 1px 6px rgba(142, 136, 192, 0.2);
    border: none;
    border-radius: 0.6em;
    color: #eef4ff;
    line-height: 23px;
    font-size: 0.625em;
    font-weight: 600;
    transition: all 300ms ease-out;
}

.pages ul li button:hover,
.pages ul li button:focus {
    background: #4c597e;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.pages ul li.active button {
    background: #6272a4;
}

.pages ul li.active button:hover,
.pages ul li.active button:focus {
    background: #7e8aac;
    cursor: pointer;
    transition: all 200ms ease-in;
}

/*-------------------------------------------
  Formulario | Edit USers
-------------------------------------------*/
.form-users .body .section-user-image, .form-config-user .body .section-user-image {
    width: 100%;
}
.form-users .body .section-user-info {
    display: block;
    width: 100%;
    margin: 13px 0 10px;
}
.form-users .body .section-user-image img, .form-config-user .body .section-user-image img {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background-color: #eef4ff;
    border: solid #eef4ff 4px;
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 0 6px rgba(142, 136, 192, 0.2);
}
.form-users .body .section-user-image .file, .form-config-user .body .section-user-image .file {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    margin-top: -32px;
    padding: 0;
    background: #6272a4;
    box-shadow: 0 0 6px rgba(142, 136, 192, 0.2);
    border-radius: 100%;
    color: #eef4ff;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 100;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.form-users .body .section-user-info span.user-id, .form-users .body .section-user-info span.user-name {
    display: block;
    color: #eef4ff;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}
.form-users .body .section-user-info span.user-id {
    text-transform: uppercase;
    font-size: 0.8em;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    display: none !important;
}

